@import "bourbon/bourbon";
@import "neat/neat";

$fg: #333333;
$bg: #fefefe;

body {
    @include outer-container;

    max-width: 800px;

    background: $bg;

    font-family: $helvetica;
    font-weight: 200;

    color: $fg;
}

h1, h2 {
    font-weight: 200;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    @include span-columns(10);
    @include shift(1);

    background-color: shade($bg, 5%);
    border-radius: 20px;

    margin-top: 20px;
    padding: 40px 60px;

    font-size: 22px;
    line-height: 30px;
    text-align: center;

    h1, p, button {
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 60px;
        line-height: 60px;
    }

    button {
        @include button;

        font-family: $helvetica;
        font-size: 20px;
        font-weight: 200;

        padding: 20px 30px;
    }
}

@mixin three-points {
    margin-top: 20px;

    div {
        @include span-columns(4);
        padding: 0px 10px;
    }
}

.benefits {
    @include three-points;
}

#donations {
    #donation-options {
        @include three-points;
    }
}

.testimonials {
    blockquote {
        &:before {
            @include span-columns(1);
            content: "\201C";

            font-size: 140px;
            font-weight: 400;

            color: shade($bg, 20%);
        }

        @include span-columns(11);

        p {
            padding-left: 10px;
            font-size: 22px;
        }

        cite {
            float: right;
            color: tint($fg, 10%);
            &:before {
                content: "\2014 \2009";
            }
        }
    }
}

.footer {
    @include span-columns(12);
    margin-top: 10px;

    color: tint($fg, 50%);

    p {
        text-align: center;
    }
}