
// colors
$color-white:         #fff;
$color-purple:        #41256E;
$color-orange:        #F76B1C;
$color-orange-light:  #F7842B;
$color-green:         #50E3BB;
$color-notblack:      #4A4A4A;
$color-grey:          #C4C4C4;
$color-grey-light:    #F1F1F1;
$color-grey-lightest: #F9F9F9;

// breakpoints
$bp-baby-bear: em(620);
$bp-mama-bear: em(980);
$bp-papa-bear: em(1200);