
.text-grey   { color: $color-grey;  }
.text-white  { color: $color-white; }
.text-light  { font-weight: 300;    }
.text-center { text-align: center;  }
.text-small  { font-size: em(14);   }
.text-italic { font-style: italic; }